<div class="weekview">
	<ion-slide-box class="weekview-slide" on-slide-changed="slideChanged($index)" does-continue="true"
		show-pager="false" delegate-handle="weekview-slide">
		<ion-slide ng-repeat="view in views track by $index">
			<table class="table table-bordered table-fixed weekview-header">
				<thead>
					<tr>
						<th class="weekview-header weekview-header-week-day text-center" ng-repeat="dt in view.dates">
							<small>{{::dt.date | date: 'EEE'}}</small>
						</th>
					</tr>
				</thead>
				<thead>
					<tr>
						<th class="weekview-header weekview-header-day text-center"
							ng-click="select(view.dates[$index])"
							ng-class="getHighlightClass(view.dates[$index])"
							ng-repeat="dt in view.dates">
							<span>{{::dt.date | date : 'dd'}}</span>
							<div ng-repeat="displayEvent in dt.events"
								class="calendar-event calendar-week-event"
								ng-include="::allDayEventTemplateUrl">
						</th>
					</tr>
				</thead>
			</table>
		</ion-slide>
	</ion-slide-box>
</div>
