<!DOCTYPE html>
<html ng-app="calendarDemoApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Ionic Calendar Demo">
    <title>Ionic Calendar Demo</title>
    <link rel="stylesheet" href="http://code.ionicframework.com/1.1.1/css/ionic.min.css"/>
    <link rel="stylesheet" href="../dist/css/calendar.css"/>
    <script src="http://code.ionicframework.com/1.1.1/js/ionic.bundle.min.js"></script>
    <script src="../dist/js/calendar-tpls.js"></script>
    <script src="calendarDemoCtrl.js"></script>
</head>
<body>
<ion-nav-bar class="bar-positive" align-title="left">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>

<ion-nav-view></ion-nav-view>

<script id="templates/tabs.html" type="text/ng-template">
    <ion-tabs class="tabs-icon-top tabs-positive">
        <ion-tab title="Events" icon="ion-ios-pulse" href="#/tab/home">
            <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="About" icon="ion-ios-information" href="#/tab/about">
            <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Contact" icon="ion-ios-world" ui-sref="tabs.contact">
            <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</script>

<script id="templates/home.html" type="text/ng-template">
    <ion-view view-title={{viewTitle}}>
        <ion-nav-buttons side="right">
            <button class="button" ng-disabled="isToday()" ng-click="today()">Today</button>
            <button class="button" ng-click="changeMode('month')">M</button>
            <button class="button" ng-click="changeMode('week')">W</button>
            <button class="button" ng-click="changeMode('day')">D</button>
            <button class="button" ng-click="loadEvents()">Load Events</button>
						<button class="button" ng-click="next()">Next</button>
						<button class="button" ng-click="prev()">Prev</button>
        </ion-nav-buttons>

        <ion-content scroll="false" class="main-content">
						<calendar ng-model="calendar.currentDate" calendar-mode="'week'" event-source="calendar.eventSource"
											range-changed="reloadSource(startTime, endTime)"
											format-week-view-day-header="d"
											event-selected="onEventSelected(event)" title-changed="onViewTitleChanged(title)"
											time-selected="onTimeSelected(selectedTime, events, disabled)" step="30"></calendar>
            <!-- <calendar ng-model="calendar.currentDate" calendar-mode="'month'" event-source="calendar.eventSource"
                      range-changed="reloadSource(startTime, endTime)"
                      event-selected="onEventSelected(event)" title-changed="onViewTitleChanged(title)"
                      time-selected="onTimeSelected(selectedTime, events, disabled)" step="30"></calendar> -->
        </ion-content>
    </ion-view>
</script>

<script id="templates/about.html" type="text/ng-template">
    <ion-view view-title="About">
        <ion-content class="padding">
            <h3>Create hybrid mobile apps with the web technologies you love.</h3>
        </ion-content>
    </ion-view>
</script>

<script id="templates/contact.html" type="text/ng-template">
    <ion-view title="Contact">
        <ion-content>
            <div class="list">
                <div class="item">
                    @IonicFramework
                </div>
                <div class="item">
                    @DriftyTeam
                </div>
            </div>
        </ion-content>
    </ion-view>
</script>

</body>
</html>
